---
- name: Stop PostgreSQL service before initdb
  service:
    name: postgresql
    state: stopped

- name: Initialize PostgreSQL cluster
  command: >
    /usr/lib/postgresql/{{ postgresql_version }}/bin/initdb
    -D {{ data_directory }}
  args:
    creates: "{{ data_directory }}/PG_VERSION"

- name: Start PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes
