#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_remote
- name: инициализация кластера
  ansible.builtin.command:
    cmd: "pg_createcluster {{ postgres_version }} main --start"
  args:
    creates: "/etc/postgresql/{{ postgres_version }}/main"

- name: конфиг pg_hba.conf
  ansible.builtin.template:
    src: pg_hba.conf
    dest: "/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: 0640

- name: рестарт постгри
  ansible.builtin.service:
    name: postgresql
    state: restarted

