---
- name: Deploy pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: "{{ data_directory }}/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: "0600"

- name: Reload PostgreSQL after pg_hba update
  service:
    name: postgresql
    state: reloaded
