#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_users
---
- name: Loop through requested users
  ansible.builtin.include_tasks: user_create.yml
  loop: "{{ postgresql_users }}"
  loop_control:
    loop_var: user_item

