#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_users
- name: создание юзеров
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    role_attr_flags: LOGIN
    state: present
  loop: "{{ postgres_users }}"
