#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_users
- name: Check if user {{ postgresql_user_name }} exists
  become: true
  become_user: postgres
  community.postgresql.postgresql_query:
    db: postgres
    query: "SELECT 1 FROM pg_roles WHERE rolname = %s"
    positional_args:
      - "{{ postgresql_user_name }}"
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_host: localhost  
  register: user_exists
  failed_when: false

- name: Create PostgreSQL user {{ postgresql_user_name }}
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ postgresql_user_name }}"
    password: "{{ postgresql_user_password }}"
    state: present
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_host: localhost
    login_db: postgres
  when: user_exists.rowcount|default(0) == 0

- name: Update password for existing user {{ postgresql_user_name }}
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ postgresql_user_name }}"
    password: "{{ postgresql_user_password }}"
    state: present
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_host: localhost
    login_db: postgres
  when: user_exists.rowcount|default(0) > 0