---
# Проверяем, существует ли пользователь
- name: Check if user {{ user_item.name }} exists
  community.postgresql.postgresql_query:
    db: postgres
    query: "SELECT 1 FROM pg_roles WHERE rolname = %s"
    positional_args:
      - "{{ user_item.name }}"
    login_user: "postgres"
  register: user_exists
  failed_when: false

# Если пользователь не существует → создаём
- name: Create PostgreSQL user {{ user_item.name }}
  community.postgresql.postgresql_user:
    name: "{{ user_item.name }}"
    password: "{{ user_item.password }}"
    login_user: "postgres"
    state: present
  when: user_exists.rowcount|default(0) == 0

# Если существует → меняем пароль (или оставляем прежний)
- name: Update password for existing user {{ user_item.name }}
  community.postgresql.postgresql_user:
    name: "{{ user_item.name }}"
    password: "{{ user_item.password }}"
    login_user: "postgres"
    state: present
  when: user_exists.rowcount|default(0) > 0
