---
# Проверяем, существует ли пользователь
- name: Check if user {{ user_item.name }} exists
  become: true
  become_user: postgres
  community.postgresql.postgresql_query:
    db: postgres
    query: "SELECT 1 FROM pg_roles WHERE rolname = %s"
    positional_args:
      - "{{ user_item.name }}"
  register: user_exists
  failed_when: false

- name: Create PostgreSQL user {{ user_item.name }}
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ user_item.name }}"
    password: "{{ user_item.password }}"
    state: present
  when: user_exists.rowcount|default(0) == 0

- name: Update password for existing user {{ user_item.name }}
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ user_item.name }}"
    password: "{{ user_item.password }}"
    state: present
  when: user_exists.rowcount|default(0) > 0

