---
- name: setup postgre with backup and restore
  hosts: all
  become: yes

  vars:
    postgres_version: "15" 
    postgres_data_dir: "/var/lib/postgresql/{{ postgres_version }}/main"
    postgres_user: "postgres"
    backup_dir: "/var/backups/postgresql"
    db_name: "example_db"

  roles:
    - pg_curse
