---
- name: деплой постгри
  hosts: all
  become: yes

  vars:
    postgres_version: "16"
    postgres_data_dir: "/var/lib/postgresql/{{ postgres_version }}/main"
    backup_dir: "/var/backups/postgresql"

    postgres_users:
      - name: test_user1
        password: "StrongPassword1"
        databases: ["app_db"]
      - name: test_user2
        password: "12345678"
        databases: ["analytics_db"]

    postgres_databases:
      - name: app_db
        owner: test_user1
      - name: analytics_db
        owner: test_user2

  roles:
    - postgre_install
    - postgre_remote
    - postgre_users
    - postgre_db
    - postgre_backup
#    - postgre_restore
