---
- name: Create backup user
  ansible.builtin.user:
    name: "{{ backup_user }}"
    shell: /sbin/nologin
    create_home: yes

- name: Create backup directory
  ansible.builtin.file:
    path: "{{ backup_dir }}"
    state: directory
    owner: "{{ backup_user }}"
    group: "{{ backup_user }}"
    mode: '0750'

- name: Deploy backup script
  ansible.builtin.template:
    src: "backup.sh.j2"
    dest: "/home/{{ backup_user }}/backup.sh"
    owner: "{{ backup_user }}"
    group: "{{ backup_user }}"
    mode: '0750'

- name: Configure cron job
  ansible.builtin.cron:
    name: "PostgreSQL full backup"
    user: "{{ backup_user }}"
    minute: "{{ backup_cron_minute }}"
    hour: "{{ backup_cron_hour }}"
    job: "/home/{{ backup_user }}/backup.sh"

