#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_db

# ===== CHECK IF OWNER EXISTS =====

- name: Check if owner exists
  community.postgresql.postgresql_query:
    db: postgres
    query: "SELECT 1 FROM pg_roles WHERE rolname = %s"
    positional_args: ["{{ db_owner }}"]
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_host: localhost
    login_db: postgres
  register: owner_check
  failed_when: false


- name: Stop if owner does not exist (return OK with message)
  ansible.builtin.debug:
    msg: "Owner '{{ db_owner }}' does NOT exist. Database '{{ db_name }}' will NOT be created."
  when: owner_check.rowcount|default(0) == 0


# ===== CREATE DATABASE =====

- name: Create database if owner exists
  community.postgresql.postgresql_db:
    name: "{{ db_name }}"
    owner: "{{ db_owner }}"
    encoding: UTF8
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_host: localhost
    state: present
  when: owner_check.rowcount|default(0) > 0
