#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_db
- name: создание бд
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.owner }}"
    encoding: 'UTF8'
    state: present
  loop: "{{ postgres_databases }}"
