#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_restore

- name: Check that backup file exists
  stat:
    path: "{{ backup_file }}"
  register: backup_stat

- name: Fail if backup file missing
  fail:
    msg: "Backup file '{{ backup_file }}' not found"
  when: not backup_stat.stat.exists

# OPTIONAL: Полная пересборка кластера по желанию

- name: Stop PostgreSQL
  service:
    name: postgresql
    state: stopped
  become: yes  # Требуются права root для управления службами

- name: Remove old data directory
  file:
    path: "{{ data_directory }}"
    state: absent
  when: force_reinit
  become_user: postgres

- name: Re-init cluster
  command: >
    /usr/lib/postgresql/{{ postgresql_version }}/bin/initdb
    -D {{ data_directory }}
  when: force_reinit
  become_user: postgres

- name: Ensure data directory exists
  file:
    path: "{{ data_directory }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0700"
  become_user: postgres

  # ---- START DB BEFORE RESTORE ----

- name: Start PostgreSQL before restore
  service:
    name: postgresql
    state: started
  become: yes
  when: force_reinit | bool

- name: Ensure target database exists
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ restore_db }}"
    state: present

# ---- RESTORE ----

- name: Restore from gzip backup
  become_user: postgres
  command: >
    bash -c "gunzip -c {{ backup_file }} | psql -d {{ restore_db }}"
  when: backup_file.endswith('.gz')

- name: Restore from plain SQL
  become_user: postgres
  command: >
    psql -d {{ restore_db }} -f {{ backup_file }}
  when: backup_file.endswith('.sql')


- name: Restore from custom format backup
  become_user: postgres
  command: >
    pg_restore -d {{ restore_db }} {{ backup_file }}
  when: backup_file.endswith('.dump')

# ---- START DB ----

- name: Start PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes
  become: yes  # Требуются права root для управления службами