#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_restore
- name: Deploy backup file
  ansible.builtin.copy:
    src: "files/gitea_db_20251012_023001.sql.gz"
    dest: "/home/gitea_db_20251012_023001.sql.gz"
    owner: "{{ backup_user }}"
    group: "{{ backup_user }}"
    mode: '0640'  # Для файлов данных обычно 0640 достаточно
  become: yes


- name: Check that backup file exists
  stat:
    path: "{{ backup_file }}"
  register: backup_stat

- name: Fail if backup file missing
  fail:
    msg: "Backup file '{{ backup_file }}' not found"
  when: not backup_stat.stat.exists


- name: Stop PostgreSQL
  service:
    name: postgresql
    state: stopped
  become: yes  

- name: Remove old data directory
  file:
    path: "{{ data_directory }}"
    state: absent
  when: force_reinit
  become_user: postgres

- name: Re-init cluster
  command: >
    /usr/lib/postgresql/{{ postgresql_version }}/bin/initdb
    -D {{ data_directory }}
  when: force_reinit
  become_user: postgres

- name: Ensure data directory exists
  file:
    path: "{{ data_directory }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0700"
  become_user: postgres

  # start db before restore
- name: Start PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes
  become: yes 
  
- name: Ensure target database exists
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ restore_db }}"
    state: present

# restore

- name: Restore from gzip backup
  become_user: postgres
  command: >
    bash -c "gunzip -c {{ backup_file }} | psql -d {{ restore_db }}"

- name: Start PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes
  become: yes  