#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_install
- name: Ensure keyrings directory exists
  ansible.builtin.file:
    path: /usr/share/keyrings
    state: directory
    mode: '0755'
  
# 1. GPG key (ASCII — корректный!)
- name: Download PostgreSQL GPG key
  ansible.builtin.get_url:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    dest: /usr/share/keyrings/postgresql.asc
    mode: '0644'
  
# 2. Add PGDG repo for Debian 12 (bookworm)
- name: Add PostgreSQL repository for Debian 12
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/postgresql.asc] http://apt.postgresql.org/pub/repos/apt bookworm-pgdg main"
    filename: pgdg
    state: present
  
# 3. Update apt cache
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  
# 4. Install PostgreSQL client and Python libs
- name: Install PostgreSQL client and Python libs
  ansible.builtin.apt:
    name:
      - postgresql-client
      - python3-psycopg2
      - python3-pip
    state: present
  
# 5. Install PostgreSQL server
- name: Install PostgreSQL {{ postgresql_version }}
  ansible.builtin.apt:
    name: "postgresql-{{ postgresql_version }}"
    state: present
  
- name: Create replication user
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ replication_user }}"
    password: "{{ replication_password }}"
    role_attr_flags: "REPLICATION"
  
- name: Configure postgresql.conf for replication
  ansible.builtin.blockinfile:
    path: "/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf"
    block: |
      wal_level = replica
      max_wal_senders = 10
      max_replication_slots = 10
      hot_standby = on
      listen_addresses = '*'
  
- name: Restart PostgreSQL after config update
  service:
    name: postgresql
    state: restarted
  become_user: postgres

- name: Deploy pg_hba.conf
  template:
    src: pg_hba_primary.j2
    dest: "/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: "0600"
  become_user: postgres

- name: Reload PostgreSQL
  service:
    name: postgresql
    state: reloaded
  become_user: postgres