#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_install
- name: Ensure keyrings directory exists
  ansible.builtin.file:
    path: /usr/share/keyrings
    state: directory
    mode: '0755'

# Правильный GPG key (binary), НЕ .asc
- name: Download PostgreSQL GPG key in binary format
  ansible.builtin.get_url:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.gpg
    dest: /usr/share/keyrings/postgresql.gpg
    mode: '0644'

- name: Add PostgreSQL repository (Debian 12 Bookworm)
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/postgresql.gpg] http://apt.postgresql.org/pub/repos/apt bookworm-pgdg main"
    filename: pgdg
    state: present

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    
# Устанавливаем необходимые пакеты
- name: Install PostgreSQL client and Python dependencies
  ansible.builtin.apt:
    name:
      - postgresql-client
      - python3-psycopg2
      - python3-pip
    state: present
    update_cache: yes

# Установка PostgreSQL указанной версии
- name: Install PostgreSQL {{ postgresql_version }}
  ansible.builtin.apt:
    name: "postgresql-{{ postgresql_version }}"
    state: present
