#SPDX-License-Identifier: MIT-0
---
# tasks file for postgre_install
# Скачиваем GPG ключ (вместо apt_key)
- name: Download PostgreSQL GPG key
  ansible.builtin.get_url:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    dest: /usr/share/keyrings/postgresql.gpg
    mode: '0644'

# Добавляем репозиторий с использованием signed-by
- name: Add PostgreSQL repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/postgresql.gpg] http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release }}-pgdg main"
    state: present
    filename: pgdg

# Устанавливаем необходимые пакеты
- name: Install PostgreSQL client and Python dependencies
  ansible.builtin.apt:
    name:
      - postgresql-client
      - python3-psycopg2
      - python3-pip
    state: present
    update_cache: yes

# Установка PostgreSQL указанной версии
- name: Install PostgreSQL {{ postgresql_version }}
  ansible.builtin.apt:
    name: "postgresql-{{ postgresql_version }}"
    state: present
