# Allow local connections
local   all             all                                                    md5

# Allow replication
host    replication     {{ replication_user }}    {{ replication_network }}    md5

# Allow access for applications
host    all             all                        0.0.0.0/0                   md5
